
@keyframes slideInFromRight {
    0%{
        transform: translateX(75%);
    }
    100%{
        transform: translateX(0);
    }
}
#body{
    height:100%;
}

#wrapper{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;

}

#header{
    grid-template-rows:2fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end: 4;

    padding-right:70px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-align:right;
  
    color:white;
    background-color:black;
}
#nav{
   grid-row-start: 2 ;
    grid-row-end:3;
    animation: 1s ease-out 0s 1 slideInFromRight;
    
}

#leftSidebar{
    animation: 1s ease-out 0s 1 slideInFromTop;

    color:#ffd000;
    background-color:  #410268;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.linkBox{
    text-align:center;
    font-size: 50px;
    font-family: 'Bangers', cursive;

}

#carousel{
    padding:5em;
    background-color:  #410268;
    justify-content: center;  
    display:grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2; 
    grid-column-end: 3;
}


#rightSidebar{
    background-color:  #410268;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:3;
    grid-column-end:4;

}

#footer{
    color: white;
    background-color: black;
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
   
}